/**/

html,body {
  background: rgb(251, 172, 185);
  height: 100%;
}

.out {
  border: solid 2px rgba(255, 79, 255, 0.889);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  height: 40%;
  background: white;
}

#btn {
  font-size: 2em;
  background:whitesmoke;
}

#btn::after {
  content: "▶";
  color: red;
}

